body{
    background: url("../images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mt-15em
{
    margin-top: 15em;
}
.font-size-2em{
    font-size: 2em;
}